node_modules
npm-debug.log
.git
.gitignore
README.md
docs
.DS_Store
.env.local
.env.*.local
.vscode
.idea
*.swp
*.swo
*~
coverage
.nyc_output
dist
build
.github
.detox
__tests__/e2e
.detoxrc.js
e2e
cypress
.next
out
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env.test
.env.staging
.env.production
